:root {
  --white: #f8f8f8;
  --grey: #AAB3C7;
  --black: 	#222224	;
  --error:  #ee6052;
  --red: #ee1515;

  // Pokemon Type Color

  --bug: #A8B820;
  --dark: #705848;
  --dragon: #7038F8;
  --electric: #F8D030;
  --fairy: #EE99AC;
  --fighting:#C03028;
  --fire: #F08030;
  --flying: #A890F0;
  --ghost: #705898;
  --grass: #78C850;
  --ground: #E3C577;
  --ice: #98D8D8;
  --normal: #A8A878;
  --poison: #A040A0;
  --psychic: #F85888;
  --rock: #B8A038;
  --steel: #B8B8D0;
  --water: #6890F0;

  --default: #ECE4B7;

}
